/memisc_*.tar.gz
*.[oa]
*.so
*~

/pkg/man/.Rhistory
/memisc
/extras
/requests
/test
/pkg.Rcheck
/*.Rcheck
/memisc-*
.gitignore
.Rhistory
.Rproj.user
/lt23-10-1.tex
/lt23-10-2.tex
/lt789.tex
/memisc_*.zip
/memisc_*.tar.gz
/memisc.Rproj
/.RData
/texput.log
/memisc_0.95-39.tar.gz.backup.20130126
